/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    color:white;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)), url("./assets/img/wwa.jpg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

